.conteneur {
    display: grid;
    grid-template-areas: "sec_viz sec_question"
    "sec_data sec_question"
    "sec_article sec_question"
    "sec_input sec_question";
    grid-template-columns:  repeat(2, 1fr);;
    grid-auto-rows: repeat(4, 1fr);
}

#sec_viz {
    grid-area: sec_viz; 
    background-color: blue;
}

#sec_data{ 
    grid-area: sec_data; 
    background-color: red;
}

#sec_article{ 
    grid-area: sec_article; 
    background-color: green;
}

#sec_question{ 
    grid-area: sec_question;
    background-color: aqua; 
}

#sec_input{ 
    grid-area: sec_input;
    background-color: yellow; 
}

textarea {
    width: 100%;
}

.rectangle {
    width:200px;
    height:10px;
}